 <footer id='footer'>
        <div>
            <p><%- sites.copyright %></p>
            <p><%- sites.footer %></p>
        </div>

        <div>        
        <a class='fa fa-lg fa-github-alt' target='_blank'href='<%- sites.links.github %>'></a>
        </div>   
</footer>
